.footer
  .footer__top
    .wrapper.justify-space-between
      span adsf dsf adsf dasf saf dsa
      div
        include phone-list
  .footer__middle
    .wrapper.justify-space-between
      -for(var i = 1; i < 5; i++)
        a(href="#")
          img(src="img/partner"+i+".png" alt="")
  .wrapper
    .copyright asdasdsadsadsa dsa 
script(src="js/src.js")