
-
  var menuItems = [
    {
      title : 'Мир Minecraft',
      list : [
        {
          title: 'Блоки'
        },
        {
          title: 'Мобы'
        },
        {
          title: 'Структуры'
        },
        {
          title: 'Биомы'
        },
        {
          title: 'Миры'
        }
      ]
    }
  ]
.side-menu
  +listMenu(menuItems)