doctype html
html(lang="uk")
  include partials/head
  body
    include partials/header
    .wrapper
      .row
        .column-laptop-1-4
          include partials/side-menu
        .column-laptop-3-4
          |content
    include partials/footer